html{
	font-family: 'Roboto', sans-serif;
}

#leaderboard {
	
}

.highscore {
	border-radius: 5px;
	border: 1px solid lightgray;
	padding: 5px;
	width: 256px;
	position: relative;
}

.highscore > .username {
	position: absolute;
	top: 10px;
	padding: 5px;
}

.highscore > .userscore {
	position: absolute;
	top: 32px;
	padding-left: 10px;
}

#gamearticle {
	position:relative;
}

#gamearticle > canvas{
	background-color:#111111;
}

#gamearticle > #wave{
	position:absolute;
	color:green;
	top:0;
	left:380px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 0.6em;
}

#gamearticle > #score{
	position: absolute;
	color:green;
	top: 770px;
	font-size: 0.6em;
}

#gamearticle > #health{
	position: absolute;
	color: green;
	top: 770px;
	left: 738px;
	font-size: 0.6em;
}
